<h1>Add Book</h1>
<form class="form" (ngSubmit)="onSubmit()">
  <div class="input-field">
    <input
      class="input-field"
      type="text"
      name="title"
      [(ngModel)]="book.title"
      placeholder="Add Title..."
    />
    <label class="active" for="title">Title</label>
  </div>
  <div class="input-field">
    <input
      class="input-field"
      type="text"
      name="author"
      [(ngModel)]="book.author"
      placeholder="Add Author..."
    />
    <label class="active" for="author">Author</label>
  </div>
  <input type="submit" value="Save" class="btn" />
</form>
